@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("/assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("/assets/Font/AvenirNextLTProBold.ttf") format("truetype"), url("AvenirNextLTPro-Bold.woff2") format("woff2"), url("AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("/assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("/assets/Font/AvenirNextLTProDemi.ttf") format("truetype"), url("AvenirNextLTPro-Demi.woff2") format("woff2"), url("AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("/assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("/assets/Font/AvenirNextLTPro.ttf") format("truetype"), url("AvenirNextLTPro-Regular.woff2") format("woff2"), url("AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  padding: 0px;
  margin: 0px;
  font-family: "AvenirNext LT Pro";
}

html {
  font-size: 24px;
}

/* tablet and desktop breakpoint mixins */ 
/*Header and Nav section*/
.header {
  background-color: #323232;
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  padding-left: 2rem;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .header {
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0.7rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    height: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    height: 3.5rem;
    padding-left: 5rem;
  }
}
.header__nav-container {
  display: flex;
  padding: 0rem;
  width: 100vw;
  margin: 0px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__nav-container {
    width: auto;
    height: 3rem;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-container {
    width: auto;
    height: 3rem;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__logo {
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    padding-right: 2rem;
  }
}
.header__nav-li {
  width: 50%;
  display: flex;
  justify-content: center;
  color: #ffffff;
  list-style-type: none;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  height: 2rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__nav-li {
    height: 3rem;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-li {
    height: 3rem;
    justify-content: center;
    align-items: center;
  }
}
.header--item {
  text-decoration: none;
  color: #ffffff;
}
.header a {
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  font-size: 0.59rem;
}
.header__nav-li:hover {
  border-bottom: 0.18rem solid #ffffff;
  border-color: #ffffff;
  font-weight: 700;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__nav-li:hover {
    height: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-li:hover {
    height: 3.5rem;
  }
}

/*Hero section*/
.hero {
  background-image: url("/assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero {
    height: 19rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 26rem;
  }
}
.hero__overlay {
  background: rgba(50, 50, 50, 0.5);
  height: 100%;
  display: flex;
  padding: 1rem;
}
.hero__title {
  color: #ffffff;
  margin: 0px;
  font-weight: 600;
  align-self: center;
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    font-size: 2.2rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 2.2rem;
    padding-left: 4rem;
  }
}

/*About section*/
.about {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.about__header {
  margin: 0;
  font-weight: 600;
  padding-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  .about__header {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__header {
    padding-left: 1rem;
    padding-top: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__header {
    padding-left: 4rem;
  }
}
.about__img {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__img {
    height: 12.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__img {
    height: 19rem;
    padding-left: 8.5rem;
    padding-right: 8.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.about__quote {
  font-size: 0.57rem;
  line-height: 0.9rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__quote {
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    font-size: 0.7rem;
    line-height: 1.3rem;
    font-weight: 600;
    padding-left: 8.5rem;
    padding-right: 16.5rem;
  }
}
.about span {
  line-height: 1.2rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about span {
    font-weight: 400;
    font-size: 0.65rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about span {
    font-weight: 400;
    font-size: 0.5rem;
    line-height: 2rem;
  }
}

/*Bio Section*/
.bio {
  padding: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bio {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.bio__title {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .bio__title {
    font-size: 0.6rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bio__title {
    font-size: 1rem;
    font-weight: 600;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio__title {
    font-size: 1rem;
    font-weight: 400;
    padding-left: 6.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bio__container {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .bio__container {
    display: flex;
    padding-left: 5.5rem;
    padding-right: 6rem;
  }
}
@media screen and (max-width: 767px) {
  .bio__paragraph {
    font-size: 0.53rem;
    font-weight: 400;
    line-height: 0.8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .bio__paragraph {
    padding-top: 0.6rem;
    padding-left: 1rem;
    font-size: 0.6rem;
    padding-right: 0.359rem;
    line-height: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio__paragraph {
    padding-top: 0.6rem;
    padding-left: 1rem;
    font-size: 0.59rem;
    line-height: 0.9rem;
  }
}

/*Photo Gallery section*/
.photo-gallery {
  margin: 0;
  background-color: #fafafa;
}
@media screen and (max-width: 767px) {
  .photo-gallery {
    padding: 1rem 0.67rem 0.67rem 0.67rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery {
    padding: 2rem 1.5rem 1.5rem 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery {
    padding: 2rem 5.3rem 1.5rem 6.3rem;
  }
}
.photo-gallery__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.photo-gallery__title {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .photo-gallery__title {
    font-size: 1rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery__title {
    font-weight: 600;
    padding-bottom: 0.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery__title {
    font-weight: 600;
    padding-bottom: 0.8rem;
  }
}
.photo-gallery__img {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .photo-gallery__img {
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery__img {
    width: 31.5%;
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery__img {
    width: 32%;
    padding-top: 0.5rem;
  }
}
.photo-gallery img {
  width: 100%;
}

/*footer section*/
.footer {
  background-color: #323232;
}
.footer__container {
  padding: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__container {
    padding-bottom: 2.8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__socialmedia {
    display: flex;
    padding-top: 0.5rem;
  }
}
.footer__logo {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__logo {
    padding: 1rem;
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
  }
}
.footer__title {
  color: #ffffff;
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__title {
    margin: 0 auto;
    padding-right: 1rem;
    font-size: 1.5rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer__icon {
  padding: 1rem 1rem 1rem 0rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__icon {
    height: 2.9rem;
  }
}
.footer h3 {
  font-weight: 600;
}
.footer__information {
  color: #ffffff;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.9rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
  }
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer__copyright {
  padding-top: 1rem;
  color: #ffffff;
}
.footer__copyright h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.footer__copyright p {
  font-size: 0.45rem;
  margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__copyright--logo img {
    display: none;
  }
}/*# sourceMappingURL=bio.css.map */