* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  padding: 0px;
  margin: 0px;
  font-family: "AvenirNext LT Pro";
}

html {
  font-size: 24px;
}

.hero {
  background-image: url("/assets/Images/hero-shows.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 11.2rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero {
    height: 20rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 25.5rem;
  }
}
.hero__title {
  padding-top: 0.5rem;
  width: 80%;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    font-size: 2.3rem;
    width: 75%;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 2.3rem;
    width: 75%;
  }
}
.hero__overlay {
  padding: 1rem;
  display: block;
}
@media screen and (min-width: 1280px) {
  .hero__overlay {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .hero__overlay div {
    width: 60%;
  }
}
.hero__overlay .hero-show__heading {
  color: #ffffff;
  font-size: 0.5rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__overlay .hero-show__heading {
    font-size: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__overlay .hero-show__heading {
    font-size: 1rem;
    padding-left: 4rem;
    padding-top: 5.5rem;
  }
}
.hero__overlay .hero-show__music {
  width: 100%;
  height: 100px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__overlay .hero-show__music {
    margin-left: 1rem;
    width: 50%;
    height: 35%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__overlay .hero-show__music {
    align-self: center;
    width: 32%;
    height: 25%;
  }
}

.shows {
  padding: 1rem 0rem;
}
@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
  }
}
.shows .each-event {
  border-bottom: 1px solid #e1e1e1;
  padding: 0rem 1rem;
  padding-bottom: 0.5rem;
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows .each-event {
    display: flex;
    margin: 0rem 1rem;
    padding: 0.5rem 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows .each-event {
    display: flex;
    margin: 0rem 1rem;
    padding: 0.5rem 1rem;
  }
}
.shows .each-event:hover {
  background-color: #fafafa;
}
.shows__header {
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__header {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__header {
    font-size: 1.5rem;
    padding: 1rem 5rem 0rem 5rem;
  }
}
.shows__list .table__headers {
  display: flex;
  padding-left: 2rem;
}
.shows__list h3 {
  color: #afafaf;
  font-weight: 400;
  font-size: 0.4rem;
  padding-top: 0.3rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__list h3 {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .shows__list h3 {
    display: none;
  }
}
.shows__list .datefield {
  font-weight: 600;
  margin: 0;
  font-size: 0.6em;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__list .datefield {
    width: 7rem;
    align-self: center;
  }
}
@media screen and (min-width: 1280px) {
  .shows__list .datefield {
    width: 9.5rem;
    align-self: center;
  }
}
.shows__list .venuefield {
  font-weight: 400;
  margin: 0;
  font-size: 0.6em;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__list .venuefield {
    width: 7rem;
    align-self: center;
  }
}
@media screen and (min-width: 1280px) {
  .shows__list .venuefield {
    width: 7rem;
    align-self: center;
  }
}
.shows__list .locationfield {
  font-weight: 400;
  margin: 0;
  font-size: 0.6em;
}
@media screen and (max-width: 767px) {
  .shows__list .locationfield {
    padding-bottom: 0.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__list .locationfield {
    width: 7rem;
    align-self: center;
  }
}
@media screen and (min-width: 1280px) {
  .shows__list .locationfield {
    align-self: center;
    width: 8rem;
  }
}
@media screen and (max-width: 767px) {
  .shows__list .desktop__heading {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__list .desktop__heading {
    display: flex;
    width: 7rem;
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__list .desktop__heading {
    display: flex;
    font-size: 0.5rem;
  }
}
.shows__list #dateid {
  width: 9rem;
}
.shows__list #venueid {
  width: 6.6rem;
}
.shows__list .buyTickets {
  font-size: 0.6rem;
  background-color: #323232;
  color: #ffffff;
  padding: 0.35rem;
  border-radius: 4px;
  width: 100%;
  font-family: "AvenirNext LT Pro";
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__list .buyTickets {
    width: 22%;
    padding-left: 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__list .buyTickets {
    width: 22%;
    padding-left: 0.5rem;
  }
}/*# sourceMappingURL=shows.css.map */